<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AutoArchiveService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <userSettings>
        <AutoArchiveService.Properties.Settings>
            <setting name="FromDirectory" serializeAs="String">
                <value>D:\archTest</value>
            </setting>
            <setting name="ToDirectory" serializeAs="String">
                <value>E:\archTest</value>
            </setting>
            <setting name="CheckInterval" serializeAs="String">
                <value>00:00:10</value>
            </setting>
            <setting name="OlderThan" serializeAs="String">
                <value>00:00:01</value>
            </setting>
            <setting name="MoveOldFiles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IncludeHidden" serializeAs="String">
                <value>False</value>
            </setting>
        </AutoArchiveService.Properties.Settings>
    </userSettings>
</configuration>